In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import missingno as msno

In [2]:
df = pd.read_csv('../data/raw/Solar_Energy_Generation.csv')
df.head()

   CampusKey  SiteKey            Timestamp  SolarGeneration
0          2        1  2020-01-01 00:15:00              NaN
1          2        1  2020-01-01 00:30:00              NaN
2          2        1  2020-01-01 00:45:00              NaN
3          2        1  2020-01-01 01:00:00              NaN
4          2        1  2020-01-01 01:15:00              NaN

In [3]:
df.shape

(2731946, 4)

In [4]:
df.shape[0]/2

1365973.0

In [5]:
df.isnull().sum()

CampusKey                0
SiteKey                  0
Timestamp                0
SolarGeneration    1536301
dtype: int64

In [273]:
df.dropna(inplace = True)

In [6]:
df1 = pd.DataFrame(df.groupby(['Timestamp', 'CampusKey'])['SolarGeneration'].sum())
df1.reset_index(inplace = True)
df1['Timestamp'] = pd.to_datetime(df1['Timestamp'])
df1['time'] = df1.Timestamp.dt.time

In [7]:
df1.set_index('Timestamp', inplace = True, drop = True)

In [8]:
camp1 = df1[df1['CampusKey'] == 1]
camp2 = df1[df1['CampusKey'] == 2]
camp3 = df1[df1['CampusKey'] == 3]
camp4 = df1[df1['CampusKey'] == 4]
camp5 = df1[df1['CampusKey'] == 5]

---

In [9]:
weather = pd.read_csv('../data/raw/Weather_Data_reordered_all.csv')
weather.head()

,CampusKey,Timestamp,ApparentTemperature,AirTemperature,DewPointTemperature,RelativeHumidity,WindSpeed,WindDirection
0,1,2020-01-01 00:00:00,13.666667,13.880000,8.960000,72.400000,0.000000,188.133333
1,1,2020-01-01 00:15:00,13.206667,13.666667,9.040000,73.466667,1.200000,203.866667
2,1,2020-01-01 00:30:00,12.840000,13.553333,9.053333,74.000000,2.520000,222.800000
3,1,2020-01-01 00:45:00,12.113333,13.506667,9.100000,74.466667,5.986667,231.133333
4,1,2020-01-01 01:00:00,11.946667,13.260000,9.266667,76.533333,5.946667,247.866667

In [10]:
weather.CampusKey.unique()

array([1, 2, 3, 4, 5], dtype=int64)

Separating the Solar Generation data and the Weather data into CampusKeys

In [11]:
weather['Timestamp'] = pd.to_datetime(weather['Timestamp'])
weather.set_index('Timestamp', inplace = True)
weather.sort_index(inplace = True)

In [12]:
weather.shape

(371769, 7)

In [13]:
weather.isnull().sum()

CampusKey                   0
ApparentTemperature    107113
AirTemperature         107113
DewPointTemperature    107113
RelativeHumidity       107113
WindSpeed              162890
WindDirection          162890
dtype: int64

In [14]:
campus1 = weather[weather['CampusKey'] == 1]
campus2 = weather[weather['CampusKey'] == 2]
campus3 = weather[weather['CampusKey'] == 3]
campus4 = weather[weather['CampusKey'] == 4]
campus5 = weather[weather['CampusKey'] == 5]

In [15]:
camp1.shape, campus1.shape

((79805, 3), (81017, 7))

In [16]:
df1 = pd.merge(left = camp1, right = campus1, on=['Timestamp', 'CampusKey'], how='left')
df1.to_csv('../data/cleaned/campus1.csv')
df2 = pd.merge(left = camp2, right = campus2, on=['Timestamp', 'CampusKey'], how='left')
df2.to_csv('../data/cleaned/campus2.csv')
df3 = pd.merge(left = camp3, right = campus3, on=['Timestamp', 'CampusKey'], how='left')
df3.to_csv('../data/cleaned/campus3.csv')
df4 = pd.merge(left = camp4, right = campus4, on=['Timestamp', 'CampusKey'], how='left')
df4.to_csv('../data/cleaned/campus4.csv')
df5 = pd.merge(left = camp5, right = campus5, on=['Timestamp', 'CampusKey'], how='left')
df5.to_csv('../data/cleaned/campus5.csv')